.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 85vw;
  height: 20vh;
}

.title-content-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.title-container h2{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;

  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10rem;

  width: 7vw;
  height: 3vw;

  font-weight: 600;

  color: rgb(255, 255, 255);
  background-color: rgb(255, 174, 0);
}

.title-container .news-category{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40%;
}

.active {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: white;
  background-color: rgb(0, 61, 175);
}

.news-category ul{
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0;

  gap: 2rem;
}

.category-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 10vw;
  height: 6vh;
}

.category-item-txt{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.hover-category-item{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 0%;
  font-size: 0rem;

  color: white;
  background-color: rgb(0, 61, 175);
}

.category-item:hover .category-item-txt{
  height: 0%;
  font-size: 0rem;
  transition: all 0.3s ease-in-out;
}

.category-item:hover .hover-category-item{
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.body-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 80vh;
}

.news-articles-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;
}


/* search box */
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10%;

  border-bottom: 1px solid rgb(0, 61, 175);
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search-icon{
  color: rgb(255, 174, 0);
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: rgb(0, 61, 175);
  padding-right: 40px;
  text-align: center;
  color:#000000;
}
.input-search::placeholder{
  color:#000000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#000000;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(0, 61, 175);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(0, 61, 175);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}